.content{
    max-width: 880px;
    margin: auto;
    margin-top: 40px;
    
}
.content-profile{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 120px;
    margin-bottom: 50px;
}
.content-profile__avatar-image{
    max-width: 120px;
    max-height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0;
}
.content-profile__info{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-right: auto;
}
.content-profile__info-names{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.content-profile__info-name{
    font-size: 42px;
    line-height: 1.14;
    margin: 0;
    margin-bottom: 16px;
}
.content-profile__info_edit-buttom{
    min-width: 24px;
    max-height: 24px;
    background-color: rgba(0, 0, 0, 1);
    border: 1px solid #FFFFFF;
    background-image: url(../../images/edit_buttom.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 18px;
    margin-top: 15px;
    cursor: pointer;
}
.content-profile__info_edit-buttom:hover{
    border: 2px solid gray;
    background-image: url(../../images/edit_button_gray.png);
}
.content-profile__add-buttom{
    min-width: 150px;
    max-height: 50px;
    background-color: rgba(0, 0, 0, 1);
    border: 2px solid #FFFFFF;
    background-image: url(../../images/add_buttom.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.content-profile__add-buttom:hover{
    border: 2px solid gray;
    background-image: url(../../images/add_buton_gray.png);
}
.content-profile__info-description{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    margin: 0;
}
.content-photos{
    max-width: 880px;
    min-height: 743px;
    display: grid;
    row-gap: 17px;
    column-gap: 21px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.content-photos__photo-description{
    max-width: 282px;
    min-height: 361px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}
.content-photos__photo{
    max-width: 282px;
    max-height: 282px;
}
.content-photos__description{
    margin: 0;
    margin-top: 25px;
    margin-left: 21px;
    color: black;
    font-weight: 900;
    font-size: 24px;
    width: 80%;
    height: 21%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.content-photos__letrero{
    display: flex;
    flex-wrap: nowrap;
}
.content-photos__button-like{
    border: none;
    min-width: 21px;
    height: 19px;
background-color: #fff;
    background-image: url(../../images/button_like.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    margin-top: 30px;
    padding: 0;
    cursor: pointer;
}
.content-photos__button-like:hover{
background-image: url(../../images/like_button_gray.svg);
}

.content-photos__button-like:active{
    background-image: url(../../images/like_active.png);
}

@media screen and (max-width:320px){
    .content-profile{
        margin: auto;
        max-width: 282px;
        min-height: 286px;
        flex-direction: column;
    }
    .content-profile__avatar{
        margin-left: auto;
        margin-right: auto;
    }
    .content-profile__info{
        margin-top: 30px;

    }
    .content-profile__info-names{
        max-width: 282px;
        max-height: 50px;
    }
    .content-profile__info-name{
        font-size: 22px;
        line-height: 1.2;
        margin: 0;
    }
    .content-profile__info_edit-buttom{
        min-width: 18px;
        max-height: 18px;
        margin-top: 5px;
    }
    .content-profile__info-description{
        font-size: 14px;
        margin: auto;
    }
    .content-profile__add-buttom{
        width: 282px;
        height: 50px;
        margin-top: auto;
    }
    .content-photos{
        display: flex;
        flex-direction: column;
        margin-top: 36px;
    }
    .content-photos__letrero{
        min-height: 20%;
    }
}