.page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: rgba(0, 0, 0, 1);
    color: #545454;
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
    color: #fff;
    font-family: 'Inter', serif;
    font-weight: 500;
}